<div class="slider">
	<div class="main-slider">
		{{#each this.imageUrls}}
		<img src={{this}} alt={{title}}>
		{{/each}}
	</div>
	<div class="slider-nav">
		{{#each this.imageUrls}}
		<img src={{this}} alt={{title}}>
		{{/each}}
	</div>
</div>
<div class="product-info">
	<h3 class="product-name">{{title}}</h3>
	<p class="product-code">Код товару | {{_id}}</p>

	<div class="mobile-slider">
		<div class="slider-mobile">
			{{#each this.imageUrls}}
			<div class="image-wrapper">
				<img class="main-photo" src={{this}} alt={{title}}>
			</div>
			{{/each}}
		</div>
	</div>

	<div class="product-price">{{price}} грн</div>

	<div class="product-owner js-product-owner">
		<div class="btn-name">
			Информация о продавце
		</div>
		<div class="product-owner-info js-owner-info">
			<span class="product-owner-phone">{{phone}}</span>
		</div>
	</div>

	<div class="buttons">
		<button class="btn btn-left js-favourites">В обране
			<svg class="link-icon">
				<use href="src/images/sprite.svg#icon-heart"></use>
			</svg>
		</button>
		<button class="btn">Поділитися
			<svg class="link-icon">
				<use href="src/images/sprite.svg#icon-share"></use>
			</svg>
		</button>
	</div>

	<div class="description">
		<h4 class="description-title">Опис:</h4>
		<p class="description-text">{{description}}
		</p>
	</div>
</div>